@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
  font-family: 'Bebas Neue', cursive;
}

.center {
  align-items: center;
  justify-content: center;
}



.logo-text {
  color: #ff6464;
  font-family: 'Bebas Neue', arial;
  font-size: 4rem;
  background-color: #01024e;
  padding-right: 30%;
  padding-left: 30%
}

.subtitle {
  background-color: #543864;
  color: #ff6464;
  font-family: 'Bebas Neue', arial;
  font-size: 2.5rem;
  padding-right: 30%;
  padding-left: 30%
}
